main{
  margin:auto;
  width: 80%;
}

article{
  margin:auto;
  width:80%;
  padding-bottom: 10em;
}

main a:link{
  color: #C88D00;
}

main a:visited{
  color: #C88D00;
}

main a:hover{
    color: #9E6F00;
}

main h1{
  color:#515151;
}